@import '../../../styles/base.scss';

.box {
  width: 100%;
  height: 610px;
  .none {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $tip;
    user-select: none;
  }
}
