@import '../../../../styles//base.scss';
@import '../../../../styles/style.scss';

.blogCard {
  @extend .card;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 100%;
  font-size: 20px;
  line-height: 34px;

  .color {
    font-weight: 700;
    color: $hoverColor;
  }
}
