// size
$navHeight: 60px;
$centerWidth: 1200px;

// 按钮/字体高亮/hover
$hoverColor: rgb(98, 164, 218);

// color
// 主色
$themeColor: rgb(12, 29, 27);
// 副色1
$themeColor1: rgb(22, 54, 51);
// 副色2
$themeColor2: rgb(39, 95, 89);
// 字体色
$textColor: rgb(255, 255, 255);
// App背景色
$bodyColor: rgb(0, 0, 0);
$footerBg: rgba(0, 0, 0, 0.3);
