@import '../../styles/base.scss';
@import '../../styles/style.scss';

.pageCard {
  @extend .card;
  width: $layoutWidth;
  padding: 2 * $space;
  font-size: 20px;
  line-height: 1.6em;
  user-select: text;
  word-break: break-all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
