@font-face {
  font-family: 'FiraCode';
  font-display: auto;
  src: url(./fonts/FiraCode-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

.appBox {
  font-family: 'dengxian';
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(https://i.328888.xyz/2023/02/23/xcry5.jpeg);
}
