@import '../../../../styles/base.scss';
@import '../../../../styles/style.scss';

.dataCard {
  @extend .card;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;

  .dataBtn {
    @extend .hover;
    width: 64px;
    height: 58px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    cursor: pointer;

    .name,
    .num {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .num {
      @extend .trans;
      color: $hoverColor;
      font-weight: 700;
    }
  }

  .dataBtn:hover .num {
    color: #fff !important;
  }
}
